<!DOCTYPE html>
<html>
  <head>
    <title>LearnToProgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <%= link_to "Course", chapters_path, class: "navbar-brand" %>
        <% if @lesson_number > 1  %>
        <%= link_to "Previous", section_lesson_path(@lesson.section_id, @lesson.id-1), class: "navbar-brand" %>
        <% end %>
        <% if @lesson_number < @lessons.length && @lessons.length > 1 %>
        <%= link_to "Next", section_lesson_path(@lesson.section_id, @lesson.id+1), class: "navbar-brand" %>
        <% end %>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
